# OS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# EAS
.eas/

# Native builds
ios/
android/
build/

# Env — never commit these
.env*.local
.env

# TypeScript
*.tsbuildinfo
